.git
.gitignore
.env
*.pyc
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
.DS_Store
.idea/
.vscode/
*.swp
*.swo